::selection {
  background: darkviolet;
  color: gold;
}

:root {
  color: #200222;
  background: skyblue;
}

@media (prefers-color-scheme: dark) {
  :root {
    background: deepskyblue;
  }
}

@media (prefers-contrast: less) {
  :root {
    color: #33113d;
  }
}

:any-link {
  color: #50a;
  text-decoration-style: dotted;
}

mark {
  color: #11111d;
  background: magenta;
}
