html {
  font-family: sans-serif;
  font-size: calc(1em + 1vmin + 2vmax);
}

body {
  padding: 1em;
  display: flex;
  flex-flow: column;
  margin: auto;
}

article {
  line-height: 1.5;
}

menu {
  padding: 0;
  list-style: none;
}

sup {
  display: contents;
  font-size: inherit;
  font-weight: 500;
}

sub {
  display: contents;
  font-size: inherit;
  font-weight: 600;
}
