html {
  font-family: sans-serif;
  font-size: calc(1em + 1vmin + 2vmax);
  line-height: 1.5;
}

body {
  padding: 1em;
  display: flex;
  flex-flow: column;
  margin: auto;
}

footer a {
  display: table;
}

[rel=home]:not(:focus) {
  text-decoration-style: dashed;
}

:any-link {
  transition: text-decoration 10ms, color 20ms, background 30ms;
}

:focus {
  outline-width: thick;
}
